@model MovieTicketBookingOnlineWebsite1.Models.Movie
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Movie</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Director"></label>
        <input asp-for="Director" class="form-control" />
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseYear"></label>
        <input asp-for="ReleaseYear" class="form-control" />
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px;" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button asp-action="Index" class="btn btn-success">Back</button>
</form>
